
config SOC_MITHRIL
	select RISCV
	select ATOMIC_OPERATIONS_C
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_C
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_XPAC
	select RISCV_PRIVILEGED
	select RISCV_VECTORED_MODE
	select RISCV_SOC_INTERRUPT_INIT
	select INCLUDE_RESET_VECTOR
	select HAS_MITHRIL_HAL
	select USE_MITHRIL_HAL_DSEE

# Override LLVM linker choice default to use lld
choice LLVM_LINKER
	default LLVM_USE_LLD if "${ZEPHYR_TOOLCHAIN_VARIANT}" = "llvm"
endchoice

# Override runtime library choice default to use compiler-rt
choice RTLIB_IMPLEMENTATION
	default COMPILER_RT_RTLIB if COMPILER_RT_SUPPORTED
endchoice
	