
config SOC_MITHRIL
	select RISCV
	select ATOMIC_OPERATIONS_C
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_C
	select RISCV_PRIVILEGED
	select RISCV_VECTORED_MODE
	select RISCV_SOC_INTERRUPT_INIT
	select INCLUDE_RESET_VECTOR
	select HAS_MITHRIL_HAL
	
	